.buy {
  position: absolute;
  top: 14px;
  left: 167px;
  display: inline-block;
  font-weight: 600;
  width: 111px;
  height: 30px;
}
.property1variant3 {
  position: absolute;
  top: 160px;
  left: 20px;
  background-color: var(--white);
  width: 446px;
  height: 58px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--linear);
  font-family: var(--swap);
}
