.property1defaultChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(62, 113, 132, 0.2),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(50% 50%at 50% 50%, #4f8396, rgba(71, 128, 145, 0)),
    linear-gradient(180deg, #2e4c57 48.81%, #eaedee 85.42%, #eaedee);
}
.v01ContractsAvailable {
  margin: 0;
}
.v01ContractsAvailableContainer {
  position: absolute;
  height: 20.55%;
  width: 23.26%;
  top: 15.21%;
  left: 44.72%;
  display: inline-block;
}
.vectorIcon {
  position: absolute;
  height: 18.28%;
  width: 8.4%;
  top: 11.97%;
  right: 59.79%;
  bottom: 69.74%;
  left: 31.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property1default {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1440px;
  height: 618px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--smalmedium);
}
