.componentChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.seeMore {
  position: absolute;
  height: 7.95%;
  width: 42.13%;
  top: 92.13%;
  left: 7.72%;
  display: inline-block;
}
.vectorParent {
  width: 311px;
  height: 356px;
  text-align: left;
  font-size: var(--small-size);
  color: var(--color-steelblue);
  font-family: var(--swap);
}
