.k,
.kWrapper {
  position: absolute;
  width: 132.28px;
  height: 28.37px;
}
.k {
  top: 0;
  left: calc(50% - 66.14px);
  display: inline-block;
}
.kWrapper {
  top: 243.72px;
  left: calc(50% - 626px);
}
.card10Child {
  background-color: var(--white);
}
.card10,
.card10Child,
.groupContainer,
.groupParent {
  position: absolute;
  top: 0;
  left: calc(50% - 680px);
  width: 1360px;
  height: 271.8px;
}
.groupContainer,
.groupParent {
  height: 272.09px;
}
.groupParent {
  top: 1887px;
  text-align: left;
  font-size: var(--small-size);
  color: var(--linear);
  font-family: var(--smalmedium);
}
